<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.tzauto.octopus.biz.recipe.dao.RecipeNameMappingMapper" >
    <resultMap id="BaseResultMap" type="cn.tzauto.octopus.biz.recipe.domain.RecipeNameMapping" >
        <id column="ID" property="id" jdbcType="VARCHAR" />
        <result column="DEVICE_CODE" property="deviceCode" jdbcType="VARCHAR" />
        <result column="RECIPE_SHORT_NAME" property="recipeShortName" jdbcType="VARCHAR" />
        <result column="RECIPE_NAME" property="recipeName" jdbcType="VARCHAR" />
        <result column="REMARKS" property="remarks" jdbcType="VARCHAR" />
        <result column="CREATE_BY" property="createBy" jdbcType="VARCHAR" />
        <result column="CREATE_DATE" property="createDate" jdbcType="TIMESTAMP" />
        <result column="UPDATE_BY" property="updateBy" jdbcType="VARCHAR" />
        <result column="UPDATE_DATE" property="updateDate" jdbcType="TIMESTAMP" />
        <result column="DEL_FLAG" property="delFlag" jdbcType="CHAR" />
        <result column="VER_NO" property="verNo" jdbcType="DECIMAL" />
    </resultMap>
    <sql id="Base_Column_List" >
    ID, DEVICE_CODE, RECIPE_SHORT_NAME, RECIPE_NAME, REMARKS, CREATE_BY, CREATE_DATE, 
    UPDATE_BY, UPDATE_DATE, DEL_FLAG, VER_NO
    </sql>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
        <include refid="Base_Column_List" />
    from ar_recipe_name_mapping
    where ID = #{id,jdbcType=VARCHAR}
    </select>
  
    <select id="searchRcpNameByDeviceCodeAndShotName" resultMap="BaseResultMap" parameterType="java.util.HashMap" >
    select 
        <include refid="Base_Column_List" />
    from ar_recipe_name_mapping     
    where 1=1
        <if test="deviceCode != null" >
        and device_code = #{deviceCode} 
        </if>
        <if test="recipeShortName != null" >
        and RECIPE_SHORT_NAME = #{recipeShortName}
        </if>
         <if test="recipeName != null" >
        and RECIPE_NAME = #{recipeName}
        </if>
        order by RECIPE_SHORT_NAME
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from ar_recipe_name_mapping
    where ID = #{id,jdbcType=VARCHAR}
    </delete>
    <insert id="insert" parameterType="cn.tzauto.octopus.biz.recipe.domain.RecipeNameMapping" >
    insert into ar_recipe_name_mapping (ID, DEVICE_CODE, RECIPE_SHORT_NAME, 
      RECIPE_NAME, REMARKS, CREATE_BY, 
      CREATE_DATE, UPDATE_BY, UPDATE_DATE, 
      DEL_FLAG, VER_NO)
    values (uuid(), #{deviceCode,jdbcType=VARCHAR}, #{recipeShortName,jdbcType=VARCHAR}, 
      #{recipeName,jdbcType=VARCHAR}, #{remarks,jdbcType=VARCHAR},'system', 
     sysdate(), 'system',sysdate(), 
      #{delFlag,jdbcType=CHAR}, #{verNo,jdbcType=DECIMAL})
    </insert>
    <insert id="insertSelective" parameterType="cn.tzauto.octopus.biz.recipe.domain.RecipeNameMapping" >
    insert into ar_recipe_name_mapping
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="id != null" >
        ID,
            </if>
            <if test="deviceCode != null" >
        DEVICE_CODE,
            </if>
            <if test="recipeShortName != null" >
        RECIPE_SHORT_NAME,
            </if>
            <if test="recipeName != null" >
        RECIPE_NAME,
            </if>
            <if test="remarks != null" >
        REMARKS,
            </if>
            <if test="createBy != null" >
        CREATE_BY,
            </if>
            <if test="createDate != null" >
        CREATE_DATE,
            </if>
            <if test="updateBy != null" >
        UPDATE_BY,
            </if>
            <if test="updateDate != null" >
        UPDATE_DATE,
            </if>
            <if test="delFlag != null" >
        DEL_FLAG,
            </if>
            <if test="verNo != null" >
        VER_NO,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            <if test="id != null" >
        #{id,jdbcType=VARCHAR},
            </if>
            <if test="deviceCode != null" >
        #{deviceCode,jdbcType=VARCHAR},
            </if>
            <if test="recipeShortName != null" >
        #{recipeShortName,jdbcType=VARCHAR},
            </if>
            <if test="recipeName != null" >
        #{recipeName,jdbcType=VARCHAR},
            </if>
            <if test="remarks != null" >
        #{remarks,jdbcType=VARCHAR},
            </if>
            <if test="createBy != null" >
        #{createBy,jdbcType=VARCHAR},
            </if>
            <if test="createDate != null" >
        #{createDate,jdbcType=TIMESTAMP},
            </if>
            <if test="updateBy != null" >
        #{updateBy,jdbcType=VARCHAR},
            </if>
            <if test="updateDate != null" >
        #{updateDate,jdbcType=TIMESTAMP},
            </if>
            <if test="delFlag != null" >
        #{delFlag,jdbcType=CHAR},
            </if>
            <if test="verNo != null" >
        #{verNo,jdbcType=DECIMAL},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="cn.tzauto.octopus.biz.recipe.domain.RecipeNameMapping" >
    update ar_recipe_name_mapping
        <set >
            <if test="deviceCode != null" >
        DEVICE_CODE = #{deviceCode,jdbcType=VARCHAR},
            </if>
            <if test="recipeShortName != null" >
        RECIPE_SHORT_NAME = #{recipeShortName,jdbcType=VARCHAR},
            </if>
            <if test="recipeName != null" >
        RECIPE_NAME = #{recipeName,jdbcType=VARCHAR},
            </if>
            <if test="remarks != null" >
        REMARKS = #{remarks,jdbcType=VARCHAR},
            </if>
            <if test="createBy != null" >
        CREATE_BY = #{createBy,jdbcType=VARCHAR},
            </if>
            <if test="createDate != null" >
        CREATE_DATE = #{createDate,jdbcType=TIMESTAMP},
            </if>
            <if test="updateBy != null" >
        UPDATE_BY = #{updateBy,jdbcType=VARCHAR},
            </if>
            <if test="updateDate != null" >
        UPDATE_DATE = #{updateDate,jdbcType=TIMESTAMP},
            </if>
            <if test="delFlag != null" >
        DEL_FLAG = #{delFlag,jdbcType=CHAR},
            </if>
            <if test="verNo != null" >
        VER_NO = #{verNo,jdbcType=DECIMAL},
            </if>
        </set>
    where ID = #{id,jdbcType=VARCHAR}
    </update>
    <update id="updateByPrimaryKey" parameterType="cn.tzauto.octopus.biz.recipe.domain.RecipeNameMapping" >
    update ar_recipe_name_mapping
    set DEVICE_CODE = #{deviceCode,jdbcType=VARCHAR},
      RECIPE_SHORT_NAME = #{recipeShortName,jdbcType=VARCHAR},
      RECIPE_NAME = #{recipeName,jdbcType=VARCHAR},
      REMARKS = #{remarks,jdbcType=VARCHAR},
      CREATE_BY = #{createBy,jdbcType=VARCHAR},
      CREATE_DATE = #{createDate,jdbcType=TIMESTAMP},
      UPDATE_BY = #{updateBy,jdbcType=VARCHAR},
      UPDATE_DATE = #{updateDate,jdbcType=TIMESTAMP},
      DEL_FLAG = #{delFlag,jdbcType=CHAR},
      VER_NO = #{verNo,jdbcType=DECIMAL}
    where ID = #{id,jdbcType=VARCHAR}
    </update>
    <select id="queryRecipeName"  parameterType="java.util.HashMap" >
        select recipe_name from  relations where lot = #{lot} and
          fixtureno = #{fixtureno} and
          material_number = #{materialNumber}
    </select>
</mapper>